{% extends "Peliculeando/base.html" %}

{% block title %} Sobre Mi | Peliculeando! {% endblock %}

{% block main %}
<div style="margin-left: 20px; width: 95%;">
<br> <br>
<h1> Sobre Mi </h1><br>
<h3>  Me llamo Ivan Bustos y terminé el secundario en diciembre 2022. Durante mi último año decidí entrar al mundo de la programación y me fascina, especificamente el backend (pero bueno, como casi todos actualmente empecé con web).</h3> <br>
<h3>  Soy bastante obsesivo con analizar todos los posibles errores, pero soy humano y equivocaciones tengo de sobra... Es lo lindo del backend. Estoy anotado al curso de ingreso de Informática y espero sacar el título algún día.</h3> <br>
<h3>  Por último quiero agradecer a Germán que se nota que es un gran profesional y transmite bastante bien sus conocimientos. </h3>
</div>

{% endblock %}