{% extends "Peliculeando/base.html" %}

{% block title %} Peliculeando! {% endblock %}

{% block main %}


<div class="container marketing" style="margin-top: 100px;">
  
  <h1 style="text-align: center; font-size: 50px;">Última Reseña <br><br></h1>

  {% if not posts %}
  <h2 style="color: rgb(64, 5, 5);">Aún no hay publicaciones</h2>
  {% endif %}
  {% for post in posts %}
    {% if forloop.last %}
    <div class="row featurette">
      <div class="col-md-5 order-md-1">
        <img src="{{post.imagen.url}}" height="400px" >
      </div>
      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading">{{post.nombre_pelicula}}</h3>
        <p class="lead" style="display: inline-block; vertical-align: text-top;"><em>reseñado por 
          {% if post.autorizado.profile %}
              <a style="color: rgb(0, 0, 0); font-weight: 500; text-decoration: none;" aria-current="page" href="{% url 'profile-detail' post.autorizado.profile.id %}">@{{ post.autorizado }}</a>
          {% else %}
              <span style="color: rgb(106, 6, 6);">{{ post.autorizado }} </span>
          {% endif %}
          <p><a class="btn btn-secondary" href="{% url 'post-detail' post.id %}">Leer reseña</a></p>
          </em></p><br>
      </div>
    </div>
    {% endif %}
  {% endfor %}


  <!-- /END THE FEATURETTES -->

  
  <hr class="featurette-divider">
  <!-- Three columns of text below the carousel -->
  <h1 style="text-align: center; font-size: 50px;">Todas las reseñas <br><br></h1>
  <div class="row">

    {% if not posts%}
    <h2 style="color: rgb(64, 5, 5);">Aún no hay publicaciones</h2>
    {% endif %}
    {% for post in posts %}
    <div class="col-lg-4">
      <img src="{{post.imagen.url}}" height="350px">
      <h2 style="margin-top: 10px;">{{post.nombre_pelicula}}</h2>
      <p style="display: inline-block; vertical-align: text-top;"><em>reseñado por 
        {% if post.autorizado.profile %}
            <a style="color: rgb(0, 0, 0); font-weight: 500; text-decoration: none;" aria-current="page" href="{% url 'profile-detail' post.autorizado.profile.id %}">@{{ post.autorizado }}</a>
        {% else %}
            <span style="color: rgb(106, 6, 6);">{{ post.autorizado }} </span>
        {% endif %}
        </em></p>
      <p><a class="btn btn-secondary" href="{% url 'post-detail' post.id %}">Leer reseña</a></p>
    </div><!-- /.col-lg-4 -->
    {% endfor %}
    
  </div><!-- /.row -->



</div>
<br>


{% endblock %}


  

