{% extends "Peliculeando/base.html" %}

{% block title %} Mi Feed | Peliculeando! {% endblock %}

{% block main %}
<br><br>
<div style="margin-left: 15px;">
    <h1>@{{object.user}}</h1> 
    <img src="{{object.imagen.url}}" height="300px" style="border-radius: 25%;"> <hr style="width: 350px;">
    <h5>Género preferido: {{object.genero_preferido}}</h5>
    <h5>Película preferida: {{object.pelicula_preferida}}</h5>
    <br>
    {% if object.user.id == user.id %}
    <button style="background-color: rgb(25, 10, 85); margin-bottom: 5%;"><a style="color: rgb(255, 255, 255); text-decoration: none; font-weight: 600;" aria-current="page" href="{% url 'profile-update' object.id %}"> Editar Perfil </a></button>
    <button style="background-color: rgb(104, 6, 6); margin-bottom: 5%;"><a style="color: rgb(255, 255, 255); text-decoration: none; font-weight: 600;" aria-current="page" href="{% url 'profile-delete' object.id %}">Eliminar Perfil </a></button> <br>
    <button style="background-color: rgb(24, 104, 13); margin-bottom: 5%;"><a style="color: rgb(255, 255, 255); text-decoration: none; font-weight: 600;" aria-current="page" href="{% url 'logout' %}">Cerrar Sesion </a></button>
    {% endif %}
</div>
{% endblock %}
